{#
  kitFramework

  @author Team phpManufaktur <team@phpmanufaktur.de>
  @link https://kit2.phpmanufaktur.de
  @link https://github.com/phpManufaktur/kitFramework/wiki
  @copyright 2013 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
  @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#}
{% extends getTemplateFile('@phpManufaktur/Basic/Template', 'framework/body.twig') %}
{% block title %}
  {{ 'Create a new password'|trans }}
{% endblock %}
{% block content %}
  <div class="container">
    <div class="page-header">
      <h1>{{ 'Create a new password'|trans }} <small>kitFramework</small></h1>
    </div>
    
    {{ alert }}
    
    <form action="{{ FRAMEWORK_URL }}/password/retype" method="post">
      {{ form_errors(form) }}
      {{ form_row(form._token) }}
      {{ form_row(form.username) }}
      
      <div class="row">
        <label class="col-lg-3 required">{{ 'Password'|trans }}</label>
        {{ form_widget(form.password.first, {'attr':{'class':'col-lg-2'}}) }}
      </div>
      <div class="row">
        <label class="col-lg-3 required">{{ 'Repeat Password'|trans }}</label>
        {{ form_widget(form.password.second, {'attr':{'class':'col-lg-2'}}) }}        
      </div>
      
      <div class="row">
        <label class="col-lg-3" for="form_submit">&nbsp;</label>
        <input class="col-lg-2" id="form_submit" type="submit" value="{{ 'Submit'|trans }}" />
      </div>
    </form>
  </div>
{% endblock %}
