{#
  kitFramework

  @author Team phpManufaktur <team@phpmanufaktur.de>
  @link https://kit2.phpmanufaktur.de
  @link https://github.com/phpManufaktur/kitFramework/wiki
  @copyright 2013 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
  @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#}
{% extends getTemplateFile('@phpManufaktur/Basic/Template', 'framework/body.twig') %}
{% block title %}{{ 'Forgot your password?'|trans }}{% endblock %}
{% block content %}
  <div class="container">
    <div class="page-header">
      <h1>{{ 'Forgot your password?'|trans }} <small>kitFramework</small></h1>
    </div>
    <div class="alert alert-info">
      {% if message|length > 0 %}
        {{ message|trans }}
      {% else %}
        <p>{{ 'If you have forgotten your password, you can order a link to create a new one. Please type in the email address assigned to your account and submit the form.'|trans }}</p>
      {% endif %}
    </div>
    <form action="{{ FRAMEWORK_URL }}/password/reset" method="post">
      {{ form_errors(form) }}
      {{ form_row(form._token) }}
      
      <div class="row">
        <label class="col-lg-2 {% if form.email.vars.required %}required{% endif %}" for="{{ form.email.vars.id }}">{{ form.email.vars.label|trans }}</label>
        {{ form_widget(form.email, {'attr':{'class':'col-lg-2'}}) }}
      </div>
      <div class="row">
        <label class="col-lg-2" for="form_submit">&nbsp;</label>
        <input class="col-lg-2" id="form_submit" type="submit" value="{{ 'Submit'|trans }}" />
      </div>
    </form>
  </div>
{% endblock %}