{#
  kitFramework

  @author Team phpManufaktur <team@phpmanufaktur.de>
  @link https://kit2.phpmanufaktur.de
  @link https://github.com/phpManufaktur/kitFramework/wiki
  @copyright 2013 Ralf Hertsch <ralf.hertsch@phpmanufaktur.de>
  @license MIT License (MIT) http://www.opensource.org/licenses/MIT
#}
{% if usage == 'framework' %}
  {% set template_file = 'framework/body.twig' %}
{% else %}
  {% set template_file = 'framework/backend.body.twig' %}
{% endif %}
{% extends getTemplateFile('@phpManufaktur/Basic/Template', template_file) %}
{% block title %}{{ 'kitFramework - Welcome'|trans }}{% endblock %}

{% block content %}
  <div class="container">
    <div class="page-header">
      <h1>kitFramework <small>Erweiterungen</small></h1>
    </div>
    <div class="alert alert-info">
      {% if message|length > 0 %}   
        {{ message }}
      {% else %}
        <p>Dieser Übersichtsdialog befindet sich noch im Experimentierstadium, Vorschläge und Ideen sind herzlich willkommen!</p>
        <p>Bitte besuchen Sie die Seite <a class="alert-link" href="https://kit2.phpmanufaktur.de/firststeps" target="_blank">Erste Schritte mit dem kitFramework</a> für einen Einstieg.</p>
      {% endif %}
    </div>
  </div>
  <div class="container">
    <h2>Bereits installierte Erweiterungen</h2>
    {% set counter = 1 %}
    {% for item in register_items %}
      {% if counter == 1 %}
        <div class="row">
      {% endif %}
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">   
          {% if item.start_url|length > 0 %}<a href="{{ FRAMEWORK_URL }}{{ item.start_url }}?usage={{ usage }}">{% endif %}
            <img src="{% if item.logo_blob|length > 0 %}data:image/{{ item.logo_type }};charset=utf-8;base64,{{ item.logo_blob }}{% else %}{{ item.logo_url }}{% endif %}" width="{{ item.logo_width }}" height="{{ item.logo_height }}" alt="{{ item.description.title }}" />
          {% if item.start_url|length > 0 %}</a>{% endif %}
          {% if item.update_available %}
            <div class="caption">
              <p><strong>{{ 'Update available!'|trans }}</strong></p>
              <p>Release {{ item.release_available }}<br />
                <a class="" href="{{ FRAMEWORK_URL }}/admin/updater/update/{{ item.id }}?usage={{ usage }}">Execute Update</a></p>
            </div>
          {% endif %}
        </div>
      </div>
      {% if counter == 4 %}
        </div>
        {% set counter = 1 %}
      {% else %}
        {% set counter = counter + 1 %}
      {% endif %}
    {% endfor %} 
    {% if counter != 1 %}</div>{% endif %}
  </div>
  <div class="container">
    <h2>Verfügbare Erweiterungen</h2>
    <p>Diese Liste wird automatisch aktualisiert, falls über Github ein neuer <a href="https://github.com/phpManufaktur/kitFramework_Catalog" target="blank">kitFramework Katalog</a> verfügbar ist.</p>
    
    {% set counter = 1 %}
    {% for item in catalog_items %}
      {% if counter == 1 %}
        <div class="row">
      {% endif %}
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">   
          <img src="data:image/{{ item.logo_type }};charset=utf-8;base64,{{ item.logo_blob }}" width="{{ item.logo_width }}" height="{{ item.logo_height }}" alt="{{ item.description.title }}" />
          <div class="caption">
            <p><strong>{{ item.description.title }}</strong></p>
            <p>{{ item.description.short }}</p>
            <p>Release {{ item.release }} <em>({{ item.date|date('d.m.Y') }})</em></p>
            {% if item.info.download.github is defined %}
              <p><a href="{{ FRAMEWORK_URL }}/admin/updater/install/{{ item.id }}?usage={{ usage }}">Install</a></p>
            {% endif %}
          </div>
        </div>
      </div>
      {% if counter == 4 %}
        </div>
        {% set counter = 1 %}
      {% else %}
        {% set counter = counter + 1 %}
      {% endif %}
    {% endfor %} 
    {% if counter != 1 %}</div>{% endif %}
  </div>
  <div class="container">
    <h2>Datenabgleich</h2>
    <p><span class="glyphicon glyphicon-eye-open"></span> <a href="{{ scan_extensions }}#top">{{ 'Scan for installed extensions'|trans }}</a></p>
    <p><span class="glyphicon glyphicon-cloud-download"></span> <a href="{{ scan_catalog }}#top">{{ 'Scan the online catalog for available extensions'|trans }}</a></p>    
  </div>
{% endblock %}
